{% extends "base_layout.html" %}
{% block title %}{{ article.title }}{% endblock title %}
{% block content %}
    <div class="article-detail">
        {% if article.thumbnail.url != null %}
        <div class="thumbnail-grad">
            <div class="article_thumbnail-wrapper">
                <img src="{{ article.thumbnail.url }}" alt="" class="thumbnail">
                <p class="article-date"> Опубликовано: {{ article.date | date:"d.m.Y"}}</p>
            </div>
        </div>
        {% endif %}
        {% if user.is_authenticated and user.id == article.author.id %}
            <div class="article-buttons">
                <a href="{% url 'articles:update' slug=article.slug%}" class="btn btn-primary">
                    Редактировать
                </a>
                <a href="{% url 'articles:delete' slug=article.slug %}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
        <div class="article-base">
            <h1> {{ article.title }} </h1>
            <p> {{ article.body }} </p>
        </div>

    </div>
{% endblock content %}