{% extends "base_layout.html" %}
{% block title %}Homepage{% endblock title %}
{% block content %}
    <main>
    <div class="homepage">
        <h1>{{ info.header }}</h1>
        <p>{{ info.message }}</p>
    </div>
    <div class="articles">
        {% for element in articles %}
            <div class="article__item">
                <h2>
                    <a href="{% url 'articles:article_detail' slug=element.slug %}">
                        {{ element.title }}
                    </a>
                </h2>
                <p> {# { element.body }#}
                    {{ element.snippet }}
                </p>
                <time> {{ element.date }} </time>
            </div>
        {% endfor %}
    </div>
    </main>
{% endblock content %}



